.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.container {
  max-width: 950px;
  margin: auto;
}

.app {
  background-color: #76C89C;
  padding: 1em;
}

.board {
  /*padding: 1em;*/
}

.score {
  padding: 1em;
  font-size: 2em;
  font-family: 'VT323', 'monospace';
  color: #fff;
}

.timer {
  padding: 1em;
  font-size: 2em;
  font-family: 'VT323', 'monospace';
  color: #fff;
}

.tile {
  box-sizing: border-box;
  width: 33%;
  height: 100px;
  padding: 3%;
  float: left;
  text-align: center;
}

.diglett {
  position: relative;
  background-color: #C27436;
  width: 60px;
  height: 60px;
  border-radius: 50% 50% 3px 3px;
  margin: auto;
  cursor: pointer;
  border-bottom: 3px solid #754117;
}

.diglett.clicked {
  background-color: #A15B59;
}

.diglett.clicked .nose {
  background-color: #F38C7A;
}

.diglett .dead-eyes {
  position: absolute;
  top: 4px;
  left: 16px;
  color: #000;
  font-family: sans-serif;
  font-size: 27px;
}

.diglett .eyes {
  position: absolute;
  top: 15px;
  left: 24px;
  width: 10px;
  height: 10px;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
}

.diglett .eyes:before,
.diglett .eyes:after {
  position: absolute;
  top: 0;
  left: -4px;
  content: "";
  background-color: #fff;
  width: 4px;
  height: 4px;
}

.diglett .eyes:after {
  left: 10px;
}

.diglett .nose {
  position: absolute;
  top: 25px;
  left: 24px;
  display: block;
  background-color: #FD6E55;
  width: 20px;
  height: 12px;
  border-radius: 50%;
  border-bottom: 3px solid #710217;
}

.tile.diglett.clicked {
  background-color: red;
}

.start-button {
  display: block;
  margin: auto;
  background-color: #87D24B;
  border-radius: 4px;
  border: none;
  border-bottom: 3px solid #409112;
  padding: .5em 1.3em;
  font-size: 2em;
  cursor: pointer;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: 'VT323', 'monospace';
  font-weight: 600;
}
